@import '@/Styles/Sizes.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    max-width: $max-width;

    .header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .namesOfWeek {
        display: flex;
        align-items: center;
        height: 30px;

        .nameOfWeek {
            display: flex;
            
            min-width: $max-cell-width;
            align-items: center;
            justify-content: center;
            border: 1px solid;
        }
    }

    .daysOfMonth {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .dayOfMonth {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid;
            min-width: $max-cell-width;
        }
    }
}